/* styles.css */
body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-container {
  max-height: 50vh;
  max-width: 100%;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.password-input {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.password-input input {
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #666;
  color: #fff;
  width: 50px;
  text-align: center;
  margin: 0 5px;
}

.password-input input:focus {
  outline: none;
  background-color: #888;
}

input[type="button"] {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #900;
  color: #fff;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #600;
}

input[type="button"]:focus {
  outline: none;
}