/* styles.css */
body {
  background-color: #222;
  color: #fff;
  font-family: Monaco, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-container {
  max-height: 50vh;
  max-width: 100%;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

h1 {
  font-size: 32px;
  font-weight: 100;
  text-align: center;
  margin-top: 50px;
}

.password-input {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.password-input input {
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #666;
  color: #fff;
  width: 50px;
  text-align: center;
  margin: 0 5px;
}

.password-input input:focus {
  outline: none;
  background-color: #888;
}

.cache-password-input {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.cache-password-input input {
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #666;
  color: #fff;
  width: 250px;
  text-align: center;
  margin: 0 5px;
}

.cache-password-input input:focus {
  outline: none;
  background-color: #888;
}

input[type="button"] {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #900;
  color: #fff;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #600;
}

input[type="button"]:focus {
  outline: none;
}

.password-submit {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #900;
  color: #fff;
  cursor: pointer;
}

.password-submit:hover {
  background-color: #600;
}

.password-submit:focus {
  outline: none;
}

#shakespeare_header {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2.00s; /* Transition duration of 0.5 seconds */
}

#shakespeare_header.fade-out {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2.45s; /* Transition duration of 0.5 seconds */
}

#shakespeare_body {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 4.00s; /* Transition duration of 0.5 seconds */
}

#shakespeare_body.fade-out {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 4.00s; /* Transition duration of 0.5 seconds */
}